<nav id="menu">
  <ul>
    <li class="username">
      <a href="/"><img class="small-avatar" src="/img/avatar.jpg" alt="" />@kopiro</a>
    </li>
    <li><a target="_blank" href="https://github.com/kopiro">GitHub</a></li>
    <li><a target="_blank" href="https://threads.com/@kopiro91">Threads</a></li>
    <li><a target="_blank" href="https://discordapp.com/users/kopiro91">Discord</a></li>
    <li class="buymeacoffee">
      <a href="https://www.buymeacoffee.com/kopiro" target="_blank"
        ><img src="https://cdn.buymeacoffee.com/buttons/v2/default-yellow.png" alt="Buy Me A Coffee"
      /></a>
    </li>
  </ul>
</nav>

<img id="avatar" src="/img/avatar.jpg" />
