<nav id="menu">
  <ul>
    <li class="username"><a href="/">@kopiro</a></li>
    <li><a target="_blank" href="https://github.com/kopiro">GitHub</a></li>
    <li><a target="_blank" href="https://linkedin.com/in/destefanoflavio ">Linkedin</a></li>
    <li><a target="_blank" href="https://threads.net/@kopiro91">Threads</a></li>
    <li><a target="_blank" href="https://twitter.com/kopiro91">Twitter</a></li>
    <li class="buymeacoffee">
      <a href="https://www.buymeacoffee.com/kopiro" target="_blank"
        ><img src="https://cdn.buymeacoffee.com/buttons/v2/default-yellow.png" alt="Buy Me A Coffee"
      /></a>
    </li>
  </ul>
</nav>

<img id="avatar" src="/img/avatar.jpg" alt="Flavio De Stefano" />
