<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>Flavio De Stefano - Portfolio</title>

	<meta name="robots" content="index, follow"/>
	<meta name="description" content="Software developer es-presso Caffeina in Parma. Full-stack Developer for passion. Music and Photography enthusiast."/>
	<meta name="author" content="Flavio De Stefano">

	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
	<link href='https://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
	<link href="https://fonts.googleapis.com/css?family=Abril+Fatface" rel="stylesheet" />
	<link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.css" rel="stylesheet" />
	<link href="/style.css" rel="stylesheet" />

	<!--[if IE]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->

	<script type="text/javascript">
		var _gaq = _gaq || [];
		_gaq.push(['_setAccount', 'UA-20966409-1']);
		_gaq.push(['_trackPageview']);
		(function() {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		})();
	</script>

</head>
<body>

	<h1 id="title">Flavio De Stefano</h1>
	<img src="http://kopiro.it/me.jpg" id="avatar" />

	<ul id="social-icons">
		<li><a target="_blank" href="http://kopiro.it/mail">mail</a></li>
		<li><a target="_blank" href="http://kopiro.it/telegram">telegram</a></li>
		<li>|</li> 
		<li><a target="_blank" href="http://kopiro.it/github">github</a></li>
		<li><a target="_blank" href="http://kopiro.it/stackoverflow">stackoverflow</a></li>
		<li>|</li> 
		<li><a target="_blank" href="http://kopiro.it/medium">medium</a></li>
		<li><a target="_blank" href="http://kopiro.it/twitter">twitter</a></li>
		<li><a target="_blank" href="http://kopiro.it/facebook">facebook</a></li>
		<li><a target="_blank" href="http://kopiro.it/instagram">instagram</a></li>
		<li><a target="_blank" href="http://kopiro.it/500px">500px</a></li>
	</ul>

	<div id="intro">
		<p>hello,<br>i have studied computer engineering and i work as a developer for caffeina in parma, italy.</p>
		<p>i started to learn how to code at 16 (c, c++ and .net), and soon it became my passion, not just my work.</p>
		<p>i started as a full-stack developer using php + classical web techs (html + js + css) as main technologies, studying at the same time the canvas js api to make beautiful and low-level animations.</p>
		<p>after that, i specialized building api using laravel and making some experience with high-scalable node.js application, other than simple cli scripts. then i started to learn titanium since 3.x release, becoming a core contributor of this awesome framework.</p>
		<p>i actively contribute to open source projects, view <a href="https://github.com/kopiro?tab=activity" target="_blank">my public activity</a>.</p>
		<p>the project of which i am most proud of is <a href="https://github.com/caffeinalab/trimethyl" target="_blank">trimethyl</a>, an open-source titanium toolchain developed for caffeina.</p>
		
		<p><i>I believe that one of the greatest satisfactions in this life is to create something on your own,<br>and my best way to do so is by coding.</i></p>
	</div>

	<hr/>

	<div class="section">
		<h3>Skills</h3>
		<p>I list all my acknowledges, but remember that <i>Imagination is more important than knowledge</i>.</p>
		<ul>
			<li><b>Javascript</b> in its main essence and <b>NodeJS</b>.</li>
			<li><b>iOS and Android</b> Mobile development with <b>Titanium/Alloy</b>.</li>
			<li><b>HTML5</b> &amp;&amp; <b>CSS3</b> (obviously, I think)</li>
			<li><b>PHP</b>, used primarily as OOP language and <b>MySQL</b>.</li>
			<li><b>Laravel</b> as main PHP framework and <b>WordPress</b> full knowledges.</li>
			<li>A little bit of <b>Java</b>.</li>
			<li><br></li>
			<li><small>Other minor boring stuff, like <i>UNIX knowledges</i>, C and C++ (with QT), Adobe Photoshop, informatic security, bases of Computer Graphics with <i>OpenGL</i>, obfuscated memories of <i>VB.NET and C#.NET</i>, blablabla.</small></li>
		</ul>
	</div>

	<div id="carepos" class="section">
		<h3>open-source projects (in Caffeina)</h3>
		<ul></ul>
	</div>

	<div id="repos" class="section">
		<h3>personal open-source projects</h3>
		<ul></ul>
	</div>

	<div id="articles" class="section">
		<h3>Press</h3>
		<ul>
			<li><a target="_blank" href="https://medium.com/@destefanoflavio/what-i-learned-hacking-facebook-messenger-soccer-game-3c882ea8537d#.wrpvx6rvi">What I learned hacking Facebook Messenger Soccer game</a></li>
			<li><a target="_blank" href="https://medium.com/@destefanoflavio/deal-with-titanium-modules-and-its-missing-support-for-android-multidex-546de5486d13#.xzbmlk54t">Deal with Titanium modules and its missing support for Android multidex</a></li>
			<li><a target="_blank" href="https://medium.com/@destefanoflavio/kata-resolution-next-bigger-number-with-the-same-digits-4eab491852d2#.yc7wd4wtu">Kata resolution: Next bigger number with the same digits</a></li>
			<li><a target="_blank" href="http://caffeina.com/blog/mobile-workflow-con-appcelerator-titanium">Mobile Workflow: Appcelerator Titanium</a></li>
		</ul>
	</div>

	<div id="gists" class="section">
		<h3>Snippets</h3>
		<ul data-ajax></ul>
	</div>

	<div id="projects" class="section">
		<h3>Personal projects</h3>
		<ul>
			<li><a target="_blank" href="http://ilpaesaggiodellabonifica.it">Il Paesaggio della Bonifica</a> - <i>2014</i></li>
			<li><a target="_blank" href="http://ecruarchitetti.it">écru architetti</a> - <i>2014</i></li>
		</ul>
	</div>

	<div id="projects" class="section">
		<h3>Side projects</h3>
		<p>just for fun, don't rely on this</p>
		<ul>
			<li><a target="_blank" href="http://bbyn.apps.kopiro.it">Breaking-badize your name</a></li>
			<li><a target="_blank" href="http://intersect.apps.kopiro.it">Intersect</a></li>
			<li><a target="_blank" href="http://25hours.apps.kopiro.it">25 hours</a></li>
		</ul>
	</div>
	<footer id="footer">
		<div><a href="https://pgp.mit.edu/pks/lookup?op=get&search=0xEDE51005D982268E">GPG Key (0xEDE51005D982268E)</a></div>
		<div>F.</div>
	</footer>
	
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
	
	<script type="text-template" id="list-tpl">
		<li><a target="_blank" href="<%= link %>"><%= name %></a> - <i><%= type === 'gists' ? date : description %></i></li>
	</script>

	<script src="script.js"></script>

</body>
</html>
