body {
  background: #fff;
  font-family: "Futura", sans-serif;
  color: #555;
  max-width: 920px;
  margin: 0 auto;
  position: relative;
  padding: 30px;
  font-size: 18px;
  line-height: 1.35em;
  -webkit-font-smoothing: antialiased;
}

a {
  color: #000;
  font-weight: bold;
}

a:hover {
  color: rgb(14, 132, 31);
}

p {
  margin-top: 1em;
  margin-bottom: 0.5em;
}

section {
  margin-top: 2em;
  margin-bottom: 2em;
}

img {
  max-width: 100%;
  margin-top: 1em;
  margin-bottom: 0.5em;
}

body.press img {
  display: block;
}

body.index h1 {
  font-size: 4em;
  margin-top: 20px;
  line-height: 1em;
}

h1 {
  font-size: 3em;
  font-weight: 900;
  padding-right: 200px;
  margin-bottom: 0;
  color: #000;
  position: relative;
  line-height: 1.15em;
}

h1:after {
  content: "";
  background-image: url(https://s.gravatar.com/avatar/6a46c3623a8bb6e3e641eca16450bd83?s=400);
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-size: cover;
  position: absolute;
  right: 0;
  top: 0px;
  border: 8px solid white;
  outline: 1px solid #ddd;
  cursor: pointer;
  transition: scale ease-out 200ms;
}

h1:hover:after {
  scale: 1.05;
}

h2 {
  font-size: 2.5em;
  line-height: 1em;
  color: #000;
}

h3 {
  font-size: 2em;
  line-height: 1em;
  font-weight: normal;
  color: rgb(14, 132, 31);
}

body.index ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

body.index li {
  margin-bottom: 1em;
}

hr {
  border: 0;
  border-top: 1px solid #ddd;
  margin: 2em 0;
}

a.username {
  color: rgb(14, 132, 31) !important;
  font-weight: bold !important;
}

pre {
  background: #f0f0f0;
  padding: 1em;
  border-radius: 0.5em;
  overflow-x: auto;
}

nav#menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav#menu li {
  display: inline-block;
  margin-right: 1em;
}

nav#menu li a {
  font-weight: normal;
}

/* On iPhone, reduce the font size of the h1 */
@media only screen and (max-width: 768px) {
  body {
    font-size: 14px;
  }

  h1 {
    margin-right: 0;
  }

  h1:after {
    display: none;
  }
}
