body {
  background: #fff;
  font-family: "Futura", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
  color: #555;
  max-width: 1024px;
  margin: 0 auto;
  position: relative;
  padding: 30px;
  font-size: 18px;
  line-height: 1.35em;
  -webkit-font-smoothing: antialiased;
}

a {
  color: #000;
  font-weight: bold;
}

a:hover {
  color: rgb(14, 132, 31);
}

p {
  margin-top: 1em;
  margin-bottom: 0.5em;
}

section {
  margin-top: 2em;
  margin-bottom: 2em;
}

#content * {
  max-width: 100%;
}

#content img {
  margin-top: 1em;
  margin-bottom: 0.5em;
}

body.press #content img {
  display: block;
}

body.index .username {
  display: none !important;
}

.username:before {
  content: "";
  background-image: url("/img/avatar.jpg");
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-size: cover;
  border: 2px solid white;
  outline: 1px solid #ddd;
  cursor: pointer;
}

#flavio-de-stefano {
  font-size: 5em;
  margin-top: 20px;
  line-height: 0.95em;
  font-weight: 900;
  padding-right: 200px;
  margin-bottom: 20px;
  color: #000;
  min-height: 160px;
  position: relative;
  line-height: 1.15em;
}

#avatar {
  display: none;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-size: cover;
  position: absolute;
  right: 20px;
  top: 140px;
  border: 8px solid white;
  outline: 1px solid #ddd;
  cursor: pointer;
  scale: 1;
  z-index: 2;
  transition: scale ease-out 200ms;
}

#avatar:hover {
  scale: 1.05;
}

body.index #avatar {
  display: block;
}

h1 {
  font-size: 3em;
  line-height: 1em;
  color: #000;
}

h2 {
  font-size: 2.25em;
  line-height: 1em;
  color: #000;
}

h3 {
  font-size: 1.8em;
  line-height: 1em;
  font-weight: normal;
  color: rgb(14, 132, 31);
}

h4 {
  font-size: 1.5em;
  line-height: 1em;
  font-weight: normal;
  color: rgb(14, 132, 31);
}

h5 {
  font-size: 1.25em;
  line-height: 1em;
  font-weight: normal;
  color: rgb(14, 132, 31);
}

h6 {
  font-size: 1em;
  line-height: 1em;
  font-weight: normal;
  color: rgb(14, 132, 31);
}

body.index ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

body.index li {
  margin-bottom: 1em;
}

hr {
  border: 0;
  border-top: 1px solid #ddd;
  margin: 2em 0;
}

.username a {
  color: rgb(14, 132, 31);
  font-weight: bold !important;
}

pre {
  background: #f0f0f0;
  padding: 1em;
  border-radius: 0.5em;
  overflow-x: auto;
}

#menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  gap: 0 2em;
}

#menu li {
  display: inline-flex;
  align-items: center;
  gap: 0 5px;
}

#menu li a {
  font-weight: normal;
}

.buymeacoffee {
  display: inline-flex;
  margin-left: auto;
  width: 140px;
}

.buymeacoffee img {
  width: 100%;
}

/* On iPhone, reduce the font size of the h1 */
@media only screen and (max-width: 768px) {
  body {
    font-size: 14px;
  }

  #flavio-de-stefano {
    margin-right: 0;
  }

  #avatar {
    display: none !important;
  }
}
