html {
	padding: 0;
	margin: 0;
}

body {
	margin: 40px;
	width: 320px;
	font-size: 10px;
	font-family: 'Noto Sans', sans-serif;
	background: #fff;
	color: #333;
	-webkit-font-smoothing: antialiased;
}

* {
	line-height: 1.1em;
}

a {
	color: #000000;
	text-decoration: none;
}

a:hover {
	color: red;
}

h1 {
	font-weight: bold;
	font-size: 35px;
	line-height: 0.9em;
}

h2 {
	font-size: 12px;
	font-style: italic;
}

h3 {
	margin: 0 0 7px 0;
}

#social-icons {
	padding-left: 1em;
	font-size: 2em;
}

#social-icons i {
	display: inline-block;
	margin-right: 5px;
}

ul {
	margin: 0;
	text-transform: lowercase;
	padding-left: 4em;
	list-style: cjk-ideographic;
}

li {
	margin-bottom: 3px;
}

@media (max-width: 768px) {
	body {
		width: auto;
	}
}