@import url('https://fonts.googleapis.com/css?family=Anton|IBM+Plex+Sans|IBM+Plex+Serif');

html {
	padding: 0;
	margin: 0;
}

body {
	font-size: 14px;
	font-family: 'Helvetica', sans-serif;
	margin: 0;
	background: #111;
	color: #fff;
}

a {
	color: #fff;
	text-decoration: none;
}

a:hover {
	color: red;
}

#giant {
	font-size: 3000px;
	position: fixed;
	z-index: -1;
	line-height: 1em;
	top: -0.4em;
	left: -0.14em;
	font-weight: bold;
	color: #236023;
	font-family: 'Tahoma';
}

#content {
	position: absolute;
	width: 400px;
	right: 50px;
	top: 0;
	padding: 2em;
	margin: auto;
}

h1 {
	font-size: 40px;
}

#social-icons {
	font-size: 30px;
}

#social-icons i {
	display: inline-block;
	margin-right: 5px;
}

ul {
	text-transform: lowercase;
	padding-left: 1em;
	list-style: cjk-ideographic;
}

li {
	margin-bottom: 0.2em;
}

@media (max-width: 768px) {
	#giant {
		left: -0.45em;
		font-size: 1700px;
	}

	#content {
		position: static;
		width: auto;
		left: 0;
		right: 0;
	}
}